<app-sidebar></app-sidebar>
<div class="student-page" id="main">
    <app-topbar></app-topbar>

    <body class="p-4">
        <mat-card class="p-4 mat-elevation-z5">

            <div class="form-row">
                <app-select-class-room (studentList)="updateStudent($event)"></app-select-class-room>

                <mat-form-field class="full-width" id="search" appearance="outline" floatLabel="never">
                    <mat-label>ค้นหา</mat-label>
                    <input matInput="search" [(ngModel)]="filter" (ngModelChange)="searchFilter(filter)">
                    <mat-icon matSuffix (click)="searchFilter(filter ? '' : filter)">
                        {{ filter.length === 0 ? 'search' : 'close' }}
                    </mat-icon>
                </mat-form-field>
            </div>

            <div class="mat-elevation-z1">
                <mat-table [dataSource]="dataSource" matSort>
                    <ng-container *ngFor="let text of columns.text" [matColumnDef]="text.id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header [style]="text.style"> {{ text.name }} </mat-header-cell>
                        <mat-cell *matCellDef="let row" [ngClass]="setLabelColor(row.StatusID)" [style]="text.style">
                            <div class="w-100 p-1" *ngIf="isLoading">
                                <ngx-skeleton-loader count="1" appearance="line" animation="pulse"></ngx-skeleton-loader>
                            </div>
                            <div *ngIf="!isLoading">
                                {{ getStudent(row, text.id) }}
                            </div>
                        </mat-cell>
                    </ng-container>

                    <ng-container *ngFor="let button of columns.button" [matColumnDef]="button.id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header [style]="button.style"> {{ button.name }} </mat-header-cell>
                        <mat-cell *matCellDef="let row" [ngClass]="setLabelColor(row.StatusID)" [style]="button.style">
                            <div class="w-100 p-1" *ngIf="isLoading">
                                <ngx-skeleton-loader count="1" appearance="line" animation="pulse"></ngx-skeleton-loader>
                            </div>
                            <div *ngIf="!isLoading">
                                <button mat-raised-button [color]="button.color" (click)="checkIn(row.Ref, button.statusID)">{{ button.name }}</button>
                            </div>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

                </mat-table>

                <div class="text-center w-100" *ngIf="(dataSource.filteredData.length == 0 || dataSource.data.length === 0) && !isLoading">
                    <p class="p-2">ไม่พบข้อมูล</p>
                    <hr>
                </div>

            </div>
            <mat-paginator [pageSizeOptions]="pageSizeOptions" [disabled]="isLoading"></mat-paginator>
        </mat-card>
    </body>
</div>