<mat-form-field appearance="outline" class="me-2">
    <mat-label>ระดับชั้น</mat-label>
    <mat-select [(ngModel)]="grade">
        <mat-option *ngFor="let grade of grades" [value]="grade.Value">
            {{ grade.Name }}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field appearance="outline" class="me-2">
    <mat-label>ห้อง</mat-label>
    <mat-select [(ngModel)]="room">
        <mat-option *ngFor="let room of rooms" [value]="room.Value">
            {{ room.Name }}
        </mat-option>
    </mat-select>
</mat-form-field>